body { 
	padding: 40px 0 20px 0; /* padding to keep content from being overlapped by the header/nav and footer */
}
a {
	cursor: pointer;
}
a:hover {
	text-decoration: none;
	cursor: pointer;
}
footer {
	border: 1px solid #D4D4D4;
	background: #F2F2F2;
	text-align: center;
	font-size: .85em;
}
#login-buttons {
	padding: 12px;
}
a#login-sign-in-link {
	color: #777;
	text-decoration: none;
	text-shadow: 0 1px 0 white;
}
.list {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.list > li {
	display: block;
	color: #444;
}
.list > li > small {
	display: block;
	color: #ccc;
}
legend > small {
	color: #ccc;
	float: right;
}
.modal > form {
	margin: 0;
	padding: 0;
}
