<template name="home">
	<div class="row">
		<div class="span9">
			<legend>Welcome to Meteor CMS</legend>
			<p>This is the home page. In reality this page should be rendered from MongoDB so creation and choosing of pages and paths would be dynamic</p>
			<blockquote>
				<p>The WYSIWYG editor should be completely compatible with Twitter Bootstrap such as in quotes</p>
				<small><cite>Aric Camarata</cite></small>
			</blockquote>
			<p>{{greeting}}</p>
		</div>
		<div class="span3">
			<legend>Announcements</legend>
			<ul class="list">
				<li>Created a github project to start. (this is static but shouldn't be)<small>2012-10-22</small></li>				
			</ul>
		</div>
	</div>
</template>